<configuration>

    <contextName>test</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

<!--    <logger name="backbone.consumer.Consumer" level="DEBUG"/>-->

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
