name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: jdk-${{ matrix.java }} tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        java: [8, 11]
        include:
        - os: ubuntu-latest
          CACHE_PATH: ~/.cache/coursier/v1
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v7
        with:
          java-version: "adopt@1.${{ matrix.java }}"
      - uses: actions/cache@v1
        with:
          path: $CACHE_PATH
          key: ${{ runner.os }}-coursier-${{ hashFiles('**/*.sbt') }}
          restore-keys: |
            ${{ runner.os }}-coursier-
      - uses: actions/cache@v1
        with:
          path: ~/.sbt
          key: |
            ${{ runner.os }}-sbt-${{ hashFiles('project/build.properties') }}-${{ hashFiles('project/plugins.sbt') }}
          restore-keys: ${{ runner.os }}-sbt-            
      - name: Run scalafmt
        run: sbt clean scalafmtCheckAll scalafmtSbtCheck
      - name: Run unit tests
        run: sbt coverage +test coverageReport coverageAggregate        
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true